
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
/* *,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
} */
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.div{
	display: inline-block;
	background-color: aqua;
	border-radius: 16px;
	padding: 16px;
	margin: 16px;
}

.red-text {
	color: red;
}

.active {
	background-color: red;
	color: black;
}

.black-border{
	border: 1px solid black;
}

.wrapper__item {
	position: relative;
	width: 200px;
	height: 200px;
	background-color: green;
	top: 0;
	left: 0;
	padding: 16px;
	margin: 16px;
}

.wrap {
	position: relative;
	margin: 16px;
	padding: 16px;
	border: 3px solid grey;
	width: 200px;
	height: 200px;
	overflow-y: auto;
}

.block {
	display: flex;
}

.block__item {
	margin: 8px;
	padding: 8px;
	text-align: center;
	width: 50px;
	height: 18px;
	border: 2px solid blue;
	border-radius: 8px;
	background-color: grey;
	color: antiquewhite;
}

.block__item:hover {
	background-color: rgb(187, 185, 185);
}

.parent {
	margin: 20px auto;
	background-color: antiquewhite;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1200px;
	height: 150px;
	gap: 20px;
	color: wheat;
}

.child{
	background: blue;
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.active-child {
	background: red;
}